<!DOCTYPE html>
<html>
<head>
<title>Forgot Password</title>
<style>
body{background:#ffe0b2;text-align:center;font-family:Arial}
form{background:white;padding:30px;width:300px;margin:auto;margin-top:100px;border-radius:10px}
input,button{width:100%;padding:8px;margin:5px}
button{background:#fb8c00;color:white;border:none}
</style>
</head>
<body>
<form method="POST">
<h2>Forgot Password</h2>
<input type="email" name="email" placeholder="Enter Email">
<button>Recover</button>
</form>
</body>
</html>
